 /******************NAVIGATIE************ */

.RAS_logo
{
	height: 40px;
	width: 100%;
	background-color: #E64343;
}

.nav_bg
{
	background-color: #E64343;
	padding-bottom: 10px;
}

.nav_link:link,
.nav_link:visited,
.nav_link:hover,
.nav_link:active
{
	color: white;
	display: block;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

.login_btn:link,
.login_btn:visited,
.login_btn:hover,
.login_btn:active
{
	color: white;
	border: 2px solid white;
	border-radius: 50px;
	padding: 0px 10px;
	font-size: 1.3em;
	text-decoration: none;
	font-family: 'Voces', cursive;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.login_btn:hover
{
	background-color: white;
	color: #E64343;
	font-weight: bold;
}

.header_logo
{
	text-align: center;
	margin-left: 0;
	color: white;
	font-family: 'Voces', cursive;
	font-size: 1.5em;
	margin-top: 0;
	line-height: 40px;
	display: block;
}

.header_logo:link,
.header_logo:visited,
.header_logo:hover,
.header_logo:active
{
	color: white;
	text-decoration: none;
}

/* ----------------------------------- HOME PAGE ---------------------------------- */

.front_img img 
{
	width: 50%;
	float: left;
}

.front_img
{
	background: linear-gradient(#F8F8F8, #E8E5E2);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 30px;
	display: block;
	clear: both;
}

.front_img hr 
{
	clear: both;
	visibility: hidden;
	height: 0;
	border: 0;
}

.admin_boekingen_body, .admin_registreer_body, .adminhome_body, .loginerror_body, .login_body, .feedback_body, .gidslijst_body, .gidsprofiel_body, .form_body, .feedback_give_body, .feedback_success_body, .bezoeker_home_body, .student_registersucces_body, .studenthome_body, .student_profupdate_body, .student_data_body, .student_register_body, .chat_berichten
{
	background: linear-gradient(#F8F8F8, #E8E5E2);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 100vh;
}
.admin_registreer_body label
{
	margin-top: 5px;
}
.admin_registreer_body .btn-primary
{
	margin-top: 10px;
}
.front_header
{
	background-color: #E64343;
	height: 100px;
}

.front_header hr 
{
	visibility: hidden;
	margin: 0;
}

.front_body 
{
	background-color: #1A1B19;
}

.front_uitleg
{
	clear: both;
	color: white;
	font-family: 'Voces', cursive;
}

.front_uitleg article
{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
}

.front_social article
{
	text-align: center;
	width: 80%;
	margin-left: 10%;
	clear: both;
	color: white;
	font-family: 'Voces', cursive;
}

.front_social article p 
{
	margin-bottom: 0;
}

.front_social .social_quote a img 
{
	width: 29px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.bubble 
{
position: relative;
width: 50%;
height: 85px;
padding: 0px;
background: #1A1B19;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
border: #FFFFFF solid 4px;
margin-right: auto;
margin-left:auto;
padding: 9px;
}
.bubble p {

color:#FFFFFF;
width:76%;
margin-right: auto;
margin-left:auto;
font-size: 1.6em;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 21px 12px 0;
border-color: #1A1B19 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -21px;
left: 62px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 24px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 0;
bottom: -28px;
left: 59px;
}

span.naamQuote {
display: block;
color: #E64343;
font-style: bold;
font-size: 1.6em;
margin-top: 17px;
margin-left: 440px;
}

/* ----------------------------------- LOGIN PAGE ---------------------------------- */
.alert
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.login_container
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	clear: both;
	margin-top: 20px;
}

.login_error
{
	/*width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	color: #E64343;
	padding: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
	/*border: 1px solid #DFDFDF;*/
	clear: both;
	margin-bottom: 20px;
}
	
.login_container h2
{
	margin-top: 0;
	text-align: center;
}

.login_link1
{
	margin-bottom: 10px;
}

.login_container .loginbtn_student, .login_container .loginbtn_bezoeker
{
	background-color: #E64343;
	display: block;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 10px;
	color: white;
}

#login_Student, #login_Bezoeker 
{
	display: none;
	border: 1px solid #DFDFDF;
	border-radius: 0px 0px 5px 5px;
	background-color: #f6f5f4;
	padding: 10px 15px;
}

#login_Student input
{
	margin-bottom: 10px;
}

.content_container
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}


/* ----------------------------------- LOGIN ERROR PAGE ---------------------------------- */

.loginerror_body a 
{
	font-size: 2em;
}

.loginerror_body .login_container
{
	text-align: center;
	margin-top: 50px;
	width: 40%;
}


/* ----------------------------------- BezoekAanmaken ---------------------------------- */

.content_container
{
	margin-top: 20px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}

.feedback_container
{
	margin-top: 20px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}

.feedback_container h2
{
	margin-top: 0;
}

.studentLijst
{
	list-style: none;
	padding-left: 0;
}

.thumbnail img
{
	height: 250px;
}

.thumbnail
{
	text-align: center;
}


/* ----------------------------------- FEEDBACK PAGE ---------------------------------- */

.feedback_body h3, .gidslijst_body h3, .gidsprofiel_body h3
{
	font-size: 14px !important;
	display: inline;
	font-weight: bold;
}

.feedback_space
{
	padding-top: 10px;
}


/* ----------------------------------- GIDSLIJST PAGE ---------------------------------- */

.gidslijst_body tr 
{
	float: left;
}

.gidslijst_body tr
{
	width: 20%;
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.gidslijst_body td 
{
	clear: both;
	width: 100%;
	display: block;
	border-top: none !important;
}

.gidslijst_img
{
    width:100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gidsprofiel_img
{
	width: 150px !important;
}

.gidslijst_details, .gidsprofiel_details
{
	margin-left: 20px;
}
.pic { 
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.grow img {
  height: 100px;
  width: 100px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 130px;
  height: 130px;
}

/* ----------------------------------- GIDSPROFIEL PAGE ---------------------------------- */

.gidsprofiel_details
{
	float: left;
	margin-right: 20px;
}

.gidsprofiel_details, .gidsprofiel_details2
{
	margin-bottom: 10px;
}

.gidsprofiel_link
{
	clear: both;
	margin-left: 20px;
	margin-top: 10px;
}

.gidsprofiel_kiesgids
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

/* ----------------------------------- HOME ADMIN/STUDENT/BEZOEKER ---------------------------------- */
.glyphicon
{
	font-size: 2em;
	margin-bottom: 10px;
}
.welcome_user
{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
}

.home_dashboard
{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 30px;
}

.home_links
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	margin-bottom: 10px;
	display: block;
	padding-left: 5%;
	padding-right: 5%;
	color: black;
}

.home_links h3
{
	margin-top: 0;
	font-size: 1.4em;
	color: #E64343;
	font-weight: bold;
}

.home_links p 
{
	color: black;
}

.home_links:hover
{
	text-decoration: none;
	background-color: #F9F9F9;
}

/* boekinglijst admin*/

.boekingenlijst_profielfoto
{
	max-height: 100px;
	float: left;
	margin-right: 10px;
}

.boeking_info
{
	float: left;
}

.boeking_info p 
{
	margin-bottom: 0;
}

.date_remove
{
	font-size: 14px;
	margin-left: 10px;
}


/* --------------------------------- Berichten -------------------------------------*/
.chat_box
{
	margin-top: 20px;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid transparent 0px;
	height: 65vh;
	overflow-y: scroll;
	overflow-x: hidden;
}


.chat_section_nieuwbericht
{
	position: fixed;
  	bottom: 0px;
  	margin-right: auto;
  	margin-left: auto;
	width: 100%;
	padding: 10px 10px 10px 10px;
	border: solid transparent 0px;
	margin-top: 20px;
	background-color: #B0BBBB;
}

#chat_inputbericht
{
	position: relative;
	bottom: -3px;
	display: inline-block;
	font-size: 1.4em;
	width: 260px;
	height: 42px;

}

#chat_btnSend
{
	font-size: 1.4em;
	width: 160px;
}

#chat_form
{
	margin-left: auto;
	margin-right: auto;
	width: 460px;
}

.chat_message
{
	display: block;
	max-width: 60%;
	margin-right: auto;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
}

.chat_message img
{
	width: 50px;
	height: 50px;
	
}

.chat_message p
{
	margin-left: 10px;
	display: inline-block;
}

.chat_message_me
{
	position: relative;
	left: -5%;
	background-color: #E54242;
	color: white;
	margin-left: auto;
	margin-right: auto;

}
.chat_message_you
{
	position: relative;
	left: 5%;
	background-color: #B0BBBB;	
	margin-left: auto;
	margin-right: auto;
}

.chat_met_button:link,
.chat_met_button:visited,
.chat_met_button:hover,
.chat_met_button:active
{
	background-color: #E54242;
	color: white;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	height: 50px;
	line-height: 15px;
	vertical-align: middle;
	text-align: center;
}





.home_bezoeken
{
	background-color: white;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bezoeker_home_body .alert
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.home_bezoeken h3
{
	margin-top: 0;
	font-size: 1.4em;
	color: #E64343;
	text-align: center;
	font-weight: bold;
}

@media screen and (min-width: 400px){

.home_dashboard
{
	width: 70%;
	margin-left: 15%;
}

.login_container
{
	width: 80%;
}

.alert
{
	width: 80%;
}

.front_img img 
{
	width: 140px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.image_gallery
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

}


@media screen and (min-width: 600px){

	.home_dashboard
	{
		width: 60%;
		margin-left: 20%;
	}


.bezoeker_home_body .alert
{
	width: 60%;
}

.login_container
{
	width: 60%;
}


.alert
{
	width: 60%;
}

.front_img img 
{
	width: 140px;
	margin-left: 5px;
	margin-right: 5px;
}

.image_gallery
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

}


@media screen and (min-width: 775px){

.login_container
{
	width: 50%;
}

.alert
{
	width: 50%;
}

.home_dashboard
{
	width: 100%;
	margin-left: 0;
}

.home_links
{
	width: 40%;
	float: left;
}

.home_links.lefts
{
	margin-left: 8.75%;
	margin-right: 2.5%;
}

.home_links.center 
{
	margin-left: 30%;
}

.home_links.bottom 
{
	margin-bottom: 20px;
}

.home_bezoeken
{
	clear: both;
	margin-top: 20px;
	width: 82.5%;
	margin-left: 8.75%;
}

.bezoeker_home_body .alert
{
	width: 82.5%;
}

.home_bezoeken td
{
	line-height: 50px !important;
}

.home_bezoeken img 
{
	margin-right: 5px;
}

.welcome_user
{
	font-size: 1.7em;
}

.bezoeker_header, .student_header, .home_header
{
	height: 40px;
	width: 100%;
	background-color: #E64343;
}

.bezoeker_header .RAS_logo, .student_header .RAS_logo, .home_header .RAS_logo
{
	background-color: transparent;
	width: auto;
	height: auto;
}

.bezoeker_header .nav_bg, .student_header .nav_bg, .home_header .nav_bg
{
	background-color: transparent;
	padding-bottom: 0;
}

.bezoeker_header .nav_link:link, .student_header .nav_link:link,
.bezoeker_header .nav_link:visited, .student_header .nav_link:visited,
.bezoeker_header .nav_link:hover, .student_header .nav_link:hover,
.bezoeker_header .nav_link:active, .student_header .nav_link:active
{
	line-height: 40px;
	float: left;
	padding: 0;
	padding-right: 20px;
}

.bezoeker_header .login_btn:link, .student_header .login_btn:link, .home_header .login_btn:link,
.bezoeker_header .login_btn:visited, .student_header .login_btn:visited, .home_header .login_btn:link,
.bezoeker_header .login_btn:hover, .student_header .login_btn:hover, .home_header .login_btn:link,
.bezoeker_header .login_btn:active, .student_header .login_btn:active, .home_header .login_btn:link
{
	clear: none;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.bezoeker_header .login_btn:hover, .student_header .login_btn:hover, .student_header .login_btn:hover
{
	background-color: white;
	color: #E64343;
	font-weight: bold;
}

.student_header .header_logo, .bezoeker_header .header_logo, .home_header .header_logo 
{
	margin-left: 20px;
	line-height: 40px;
	display: block;
	float: left;
	margin-right: 5%;
}

.bezoeker_header .header_logo:link, .student_header .header_logo:link,
.bezoeker_header .header_logo:visited, .student_header .header_logo:visited,
.bezoeker_header .header_logo:hover, .student_header .header_logo:hover,
.bezoeker_header .header_logo:active, .student_header .header_logo:active
{
	color: white;
	text-decoration: none;
}


	.chat_box
	{
		height: 80vh;
		width: 100%;
	}
	
	.chat_met_button:link,
	.chat_met_button:visited,
	.chat_met_button:hover,
	.chat_met_button:active
	{
		line-height: 25px;
	}
}



/* ----------------------------------- LOGIN PAGE ---------------------------------- */







@media screen and (min-width: 887px){

	.front_uitleg article
	{
		text-align: center;
		width: 35%;
		float: left;
		margin-left: 0;
	}

	.uitleg_imd
	{
		margin-right: 5%;
		margin-left: 12.5% !important;
	}

	.chat_box
	{
	width: 100%;
	}



}

@media screen and (min-width: 1022px){

	.login_container
	{
		width: 40%;
	}

	.alert
	{
		width: 40%;
	}

	.front_uitleg article
	{
		width: 30%;
	}

	.uitleg_imd
	{
		margin-left: 17.5% !important;
	}

	.admin_header
	{
		height: 40px;
		width: 100%;
		background-color: #E64343;
	}

	.RAS_logo
	{
		background-color: transparent;
		width: auto;
		height: auto;
	}

	.nav_bg
	{
		background-color: transparent;
		padding-bottom: 0;
	}

	.nav_link:link,
	.nav_link:visited,
	.nav_link:hover,
	.nav_link:active
	{
		line-height: 40px;
		float: left;
		padding: 0;
		padding-right: 20px;
	}

	.login_btn:link,
	.login_btn:visited,
	.login_btn:hover,
	.login_btn:active
	{
		clear: none;
		float: right;
		margin-top: 5px;
		margin-right: 20px;
	}

	.login_btn:hover
	{
		background-color: white;
		color: #E64343;
		font-weight: bold;
	}

	.header_logo
	{
		margin-left: 20px;
		line-height: 40px;
		display: block;
		float: left;
		margin-right: 5%;
	}

	.header_logo:link,
	.header_logo:visited,
	.header_logo:hover,
	.header_logo:active
	{
		color: white;
		text-decoration: none;
	}

	.chat_box
	{
	width: 100%;
	}
	
	.chat_message
	{
		max-width: 40%;
	}

	.chat_message_me
	{
		
		left: -15%;
		

	}
	.chat_message_you
	{
		
		left: 15%;
		
	}

	


}

@media screen and (min-width: 1200px){
	.login_container
	{
		width: 30%;
	}

	.alert
	{
		width: 30%;
	}

	.front_uitleg article
	{
		width: 25%;
	}

	.uitleg_imd
	{
		margin-left: 22.5% !important;
	}

	.home_links
	{
		width: 25%;
		float: left;
	}

	.home_links.lefts
	{
		margin-left: 23.75%;
		margin-right: 2.5%;
	}

	.home_links.center 
	{
		margin-left: 37.5%;
	}

	.home_bezoeken
	{
		width: 52.5%;
		margin-left: 23.75%;
	}

	.bezoeker_home_body .alert
	{
		width: 52.5%;
	}

	.chat_met_button:link,
	.chat_met_button:visited,
	.chat_met_button:hover,
	.chat_met_button:active
	{
		line-height: 25px;
		width: 150px;
	}
}

/* ----------------------------------- IMD registratie ---------------------------------- */

#uploadImage {
margin-bottom: 10px;
}

#uploadPreview {
width: 430px;
height: 350px;

}

/* ----------------------------------- Profiel UPDATE ---------------------------------------- */

.updateProfielform {
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
}

#huidigeProfielFotoUpdate {
margin-top: 21px;
height: 350px;
width: 350px;

}

#knopProfielAanpassen{
margin-top: 10px;
margin-bottom: 40px;
}
